
{% extends 'home.html' %}

{% block title %} <title>Pong Game - Room {{ room_name }}</title> {% endblock title %}
{% block extra-head %}
    <style>
        .room-info {
            margin: 20px 0;
            padding: 10px;
            background-color: #333;
            border-radius: 5px;
        }
        #gameStatus {
            margin: 10px 0;
            padding: 10px;
            background-color: #333;
            border-radius: 5px;
        }
    </style>
{% endblock %}

{% block game-section %}

    <div class="gameWrapper">

        <h1>Multiplayer Pong</h1>
        
        <div class="room-info">
            Room Code: <span id="roomCode">{{ room_name }}</span>
        </div>
        
        <div id="gameStatus">Waiting for players...</div>
        <button id="muteButton">Mute 🔇</button>
        <canvas id="onlinegameCanvas" class="gamebox" width="1080" height="720"></canvas>
        
        <div class="instructions"></div>

        <script>
            const roomName =  "{{ room_name }}"
            const userName =  "{{ request.user.username }}"
        </script>

    </div>

{% endblock game-section %}
