{% load i18n static %}
<script src="{% url 'javascript-catalog' %}"></script>

<section id="chat-section">
    <div class="gameMode">
        <h3 style="text-align: left;">{% trans "Messaging" %}</h3>
    </div>

    <div class="chat-content">
        <div class="contacts-header">
            <div class="contacts-title">
                <i class="bi bi-people-fill me-2"></i>
                <h5>{% trans "Contacts" %}</h5>
            </div>
        </div>
        <div class="contacts-list">
            <div class="contacts-group">
                <div class="contacts-group-header">
                    <h6>{% trans "Online" %} <span class="badge bg-success rounded-pill"></span></h6>
                </div>
                <div class="contacts-group-items" id="online-chats-grid">
                </div>
            </div>
            <div class="contacts-group">
                <div class="contacts-group-header">
                    <h6>{% trans "Offline" %} <span class="badge bg-secondary rounded-pill"></span></h6>
                </div>
                <div class="contacts-group-items" id="offline-chats-grid">
                </div>
            </div>
        </div>
    </div>
</section>
