<section id="game-room-section">
    <div id="gameWrapper">
        <div id="room-name-display" style="font-weight: bold; font-size: 1.2em; margin-bottom: 10px;"></div>

        <div id="game-header">
            <div id="playerL">
                <img id="playerL_picture" src="{{ user.userprofile.avatar.url|default:'../media/avatars/default.png' }}" alt="profilepic_player1" class="user-avatar">
                <span id="username-playerL">You:</span> 
            </div>
            vs.
            <div id="playerR">
                <div class="avatar-container">
                    <img id="playerR_picture" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAQABAACAUwAOw" alt="profilepic_player2" class="user-avatar">
                    <span class="loader"></span>
                </div>
                <span id="username-playerR">loading</span> 
            </div>
        </div>
        <canvas id="onlinegameCanvas" class="gamebox" width="1080" height="720"></canvas>
        
        
        <div id="instructions">
            Use 
            <span id="arrowBox">
                <span class="material-symbols-outlined">arrow_drop_up</span>
            </span>
            and <span id="arrowBox">
                <span class="material-symbols-outlined">arrow_drop_down</span>
            </span> arrow keys to move your paddle
        </div>

        <script>
            const roomName =  "{{ room_name }}"
            const clientName =  "{{ request.user.username }}"
        </script>

    </div>
</section>