<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<section id="liveChat">
    <div class="livechat-container">
      <div class="chat-header">
        <h1>USERNAME</h1>
      </div>
      <div class="chat-messages">
        <div class="message message-send">
          <div class="message-bubble">Hello there!</div>
        </div>
        <div class="message message-receive">
          <div class="message-bubble">How are you?</div>
        </div>
      </div>
      <div class="chat-input">
        <div class="input-container">
          <input type="text" placeholder="Message">
          <button class="send-button">
            <i class="fa fa-paper-plane"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
  