{% extends 'main.html' %}

{% block content %}

   <section id="login">
    <div class="login-content">
            <h2 class="h2-login">Login</h2>
            <form action="" method="POST">
                <div class="login-form">
                    <label for="email">Email</label>
                    <input type="text" id="email" name="email" required>
                </div>
                <div class="login-form">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
            </form>
            <div class="register"> 
                <button type="submit">Login</button>
                    <p>Need an account? <a href="{% url 'register' %}" hx-get="{% url 'register' %}" hx-target="#register" hx-push-url="true">SIGN UP</a></p>
               
                
                <div class="styled-text">
                    <span>OR</span>
                </div>                
                <button type="submit">Register 42</button>
            </div>
            </div>
    </section>
{% endblock %}
