.register-page{
    background-color: var(--primary-color);
    width:400px;
    height:600px;
    justify-content: center;
    border: solid;
    align-items: center;
    border-radius: 20px;
    color: var(--text-color);
}

.create-account{
    width: auto;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}