
#gameWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    max-width: 1300px; /* Limit maximum width */
    max-height: 800px; /* Limit maximum height */
    width: 100%; /* Use available width up to max-width */
    height: 100%; /* Use available height up to max-height */
}

/* class used to design for onlinegameCanvas and localgameCanvas */
.gamebox {
    font-family: 'Pixelify Sans', sans-serif;
    position: relative;
    max-width: 75%;
    border-radius: 10px;
    border: 10px solid #451b96;
    margin: 10px auto;
    background-color: #313131;
}

#muteButton {
    flex: 0 0 auto; /* Prevent the button from growing or shrinking */
    margin: 10px;
    width: 40px;   /* Set width equal to height */
    height: 40px;  /* Set height equal to width */
    border-radius: 25%; /* Create a circular shape */
    color: black;
    background-color: #d3d3d3;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none; /* Remove default border */
    font-size: 25px; /* Adjust font size if needed */
}

.instructions {
    display: flex;
    margin: auto;
}

#locale-game-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
}