
#gameWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

}
#gameCanvas {
    border: 10px solid green;
    position: relative;
}

button {
    background-color: #451b96;
    margin: 10px;
    width: 100px;
    height: 45px;
}