
#gameWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

}
#gameWrapperHead {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    justify-content: space-between;
}
#gameWrapperHead p {
    margin: 0;
}
#gameCanvas {
    position: relative;
    width: 80%;
    /* height: 25%; */
    border-radius: 10px;
    border: 10px solid #451b96;
}
#muteButton {
    margin: 10px;
    padding: 10px;
    width: 120px;
    height: 45px;
    border-radius: 10px;
    color: white;
    background-color: #451b96;
}