body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
}
main {
    display: block;
    justify-content: center;
    align-items: center;
	width: 100%;
    min-height: calc(100vh - 100px);
   
}

section {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    box-sizing: border-box;
}

#login{
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    /* max-width: 800px; */
    justify-content: center;
    gap: 40px;
    flex-direction: row-reverse;
}

.login-content{
    background-color: aqua;
    width:400px;
    height:600px;
    justify-content: center;
    border-color: rgb(0, 0, 0);
    border: solid;
    align-items: center;
    border-radius: 20px;
}

.login-content h2{
    justify-content: center;
    display: flex;
    color: white;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacement entre les sections */
    width: 100%; /* Adapter à la largeur du conteneur */
    max-width: 80%;
    margin-top: 80px;
}

.login-row {
    display: flex;
    justify-content: space-between; /* Nom à gauche, Email à droite */
    gap: 20px; /* Espacement entre les deux champs */
}

.login-form {
    flex: 1; /* Égalité des largeurs entre Nom et Email */
    display: flex;
    flex-direction: column; /* Permet au label de rester au-dessus de l'input */
}