/* Styles généraux */
#settings-section{
    max-width: 1200px;
    padding: 40px;    
}

.settings-content {
    background-color: var(--text-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 15px;
    background-color: var(--text-color);
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab:hover {
    background-color: #f75a6a;
    color: var(--text-color);
}

.tab.active {
    background-color: #f75a6a;
    color: var(--text-color);
}


.my-card {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}

.my-card-header {
    /* background-color: var(--background-color); */
    color: var(--text-color);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    padding: 10px;
}

.my-card-header .my-card-title {
    margin: 0;
}

.my-card-body {
    padding: 15px;
}
.my-card-header .my-card-title{
    color: var(--full-black);
}
.btn-settings {
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--primary-color);
    color: var(--text-color);
    width: auto;
    height: 40px;
    border-radius: 10px;
    padding: 2px;
    margin: 5px;
    box-shadow: inset 0 8px 60px var(--light-shadow),
                inset 0 8px 8px var(--light-shadow),
                inset 0 -4px 4px var(--light-shadow);
    cursor: pointer;
}


.btn-primary {
    background-color: var(--secondary-color);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn-settings:hover {
    transform: translateY(-2px); /* Légère translation vers le haut */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Ombre douce */
}

.btn-outline-secondary {
    border: 1px solid var(--dark-mode);
}
.btn-outline-secondary:hover {
    background-color: var (--dark-color);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Ombre douce */

}

.btn-danger {
    background-color: #cf0e0f;
}

.btn-danger:hover {
    background-color: #b30d0e;
}

/* Avatar */
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: var(--text-color);
    padding: 20px;
    border-radius: 8px;
}
.inline-block-button {
    display: inline-block;
    padding: 4px 8px;
}

.custom-nav .nav-link{
    min-width: 150px;
    text-align: center;
}

/* Responsive */
@media (max-width: 576px) {
    .tabs {
        flex-direction: column;
    }

    .tab {
        width: 100%;
        margin-bottom: 5px;
    }
}

